@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    /* justify-content: center; */
    cursor: pointer;
}
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(0, 100%, 50%);
    --clr-primary-2: hsl(206, 97%, 48%);
    --clr-primary-3: hsl(22, 82%, 25%);
    --clr-primary-4: hsl(304, 100%, 31%);
    /* primary/main color */
    --clr-primary-5: hsl(180, 50%, 5%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(22, 31%, 60%);
    --clr-primary-7: hsl(22, 31%, 67%);
    --clr-primary-8: hsl(20, 31%, 74%);
    --clr-primary-9: hsl(22, 31%, 81%);
    --clr-primary-10: hsl(0, 0%, 100%);
    /* darkest red - used for headings */
    --clr-red-1: hsl(210, 9%, 13%);
    --clr-red-2: hsl(211, 39%, 23%);
    --clr-red-3: hsl(209, 34%, 30%);
    --clr-red-4: hsl(209, 28%, 39%);
    /* red used for paragraphs */
    --clr-red-5: hsl(210, 22%, 49%);
    --clr-red-6: hsl(209, 23%, 60%);
    --clr-red-7: hsl(211, 27%, 70%);
    --clr-red-8: hsl(210, 31%, 80%);
    --clr-red-9: hsl(212, 33%, 89%);
    --clr-red-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #ffffff;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

/* html{
    font-size: 62.5%;
    overflow-x: hidden;
} */

body{
    background-color: var(--clr-primary-5);
    color: var(--clr-primary-10);
    
}